[gcode_macro _COLORS]
description: Helper: Dictionary with available color codes
variable_colors: {}
gcode:
    ##### color definition #####
    {% set color_dic = {'OFF'      : {'R': 0.0,  'G': 0.0,  'B': 0.0,  'W': 0.0},
                        'GREEN'    : {'R': 0.0,  'G': 0.3,  'B': 0.0,  'W': 0.0},
                        'RED'      : {'R': 0.5,  'G': 0.0,  'B': 0.0,  'W': 0.0},
                        'BLUE'     : {'R': 0.0,  'G': 0.0,  'B': 0.5,  'W': 0.0},
                        'BUSY'     : {'R': 0.4,  'G': 0.0,  'B': 0.0,  'W': 0.0},
                        'CLEANING' : {'R': 0.0,  'G': 0.02, 'B': 0.5,  'W': 0.0},
                        'HEATING'  : {'R': 0.5,  'G': 0.0,  'B': 0.0,  'W': 0.0},
                        'HOMING'   : {'R': 0.0,  'G': 0.6,  'B': 0.2,  'W': 0.0},
                        'LEVELING' : {'R': 0.5,  'G': 0.1,  'B': 0.4,  'W': 0.0},
                        'MESHING'  : {'R': 0.2,  'G': 1.0,  'B': 0.0,  'W': 0.0},
                        'PRINTING' : {'R': 1.0,  'G': 0.0,  'B': 0.0,  'W': 0.0},
                        'STANDBY'  : {'R': 0.01, 'G': 0.01, 'B': 0.01, 'W': 0.1}} %}
    SET_GCODE_VARIABLE MACRO=_COLORS VARIABLE=colors VALUE="{color_dic}"